:root {
  --primary-color: #1967d2;
  --primary-hover-bg-color: #0146a6;
  --primary-2nd-color: #f9ab00;
  --primary-2nd-hover-bg-color: #e9a000;

  --spacing: .25rem;
}


/***/

.auth-bg-cover {
  background: linear-gradient(-45deg, #131a41 50%, #0E4683);
}
.auth-bg-cover>.bg-overlay {
  background-color: initial;
  background-image: url(/static/cover-pattern.png);
  background-position: 50%;
  background-size: cover;
  opacity: 1;
}

.bg-overlay {
  background-color: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: .7;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}



a {
  color: var(--primary-color);
}

$breakpoints: (
  xxs: 420px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

@mixin media-below($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: ($breakpoint-value - 1)) {
    @content;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
}

body {
  font-size: 14px;
  color: #363636;
  // line-height: 28px;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "Jost", sans-serif;
  font-style: normal;
}

.fs-secondary{
  font-family: "Jost", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.2em;
}

section {
  position: relative;
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  min-width: auto;
}

p,
.text {
  font-size: 15px;
  color: #696969;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}
::-moz-input-placeholder {
  color: inherit;
}
::-ms-input-placeholder {
  color: inherit;
}

.auto-container {
  position: static;
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.small-container {
  position: static;
  max-width: 900px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 300ms ease;
}

.section {
  padding: 60px 0 30px;
}

.bg_alice {
  background-color: #f9fafc;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
.video-outer {
  position: relative;
  margin-bottom: 50px;
  h4 {
    margin-bottom: 30px;
  }
}
.video-box {
  position: relative;
  .image {
    position: relative;
    margin-bottom: 30px;
    img {
      display: block;
      width: 100%;
    }
    a {
      position: relative;
      display: block;
    }
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 90px;
      height: 90px;
      background: #ffffff;
      border-radius: 50%;
      line-height: 90px;
      text-align: center;
      color: #000000;
      font-size: 44px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}



/**/

.fs-7 {
   font-size: 0.850rem !important;
}
.fs-8 {
  font-size: 0.800rem !important;
}

.fs-9 {
  font-size: 0.750rem !important;
}

.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}

/*PDFViewer*/
div.page {
  display: inline-block;
}


/*Codes*/
code[class*=language-],pre[class*=language-] {
  color: #878a99;
  text-shadow: none
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #eff2f7;
}


pre[class*=language-] {
    margin: 0;
    overflow: auto;
    padding: 0.51em;
}


/*Buttons*/
@media (min-width: 1200px) {
  .btn-group-sm >.btn, .btn-sm {
      font-size: .72187rem !important;
  }
}


.text-primary{
  color:  rgba(102,145,231, 1) !important;
}


/*
:::::::::::::::::::::::::::::::::::::
          table
:::::::::::::::::::::::::::::::::::::
*/
.default-table tr td, .default-table tr th  {
  padding:5px 15px !important
}

.table>:not(caption)>*>* {
  color: var(--bs-table-color-state), var(--bs-table-color-type, var(--bs-table-color));
}

.table-nowrap {

  th,
  td {
      white-space: nowrap;
  }
}


th {
  font-weight: 500;
}




/***/
.card-animate{
  transition: all 0.4s;

  &:hover{
      transform: translateY(calc(-1.5rem / 5));
      box-shadow: 0 5px 10px rgba(30, 32, 37, .12);
  }
}



/*
::::::::::::::::::::::::::::::
    Loading Spinner Modal 
::::::::::::::::::::::::::::::
*/
.container-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9998;
  text-align: center;

  .loading-content {
      position: absolute;
      width: 100%;
      top: 50%;
      vertical-align: center;
  }

}

/*
::::::::::::::::::::::::::::::
   GAP CSS
::::::::::::::::::::::::::::::
*/
.grid {
    display: grid
}

.gap-0\.5 {
    gap: calc(var(--spacing)*.5)
}

.gap-1\.25 {
    gap: calc(var(--spacing)*1.25)
}

.gap-1\.5 {
    gap: calc(var(--spacing)*1.5)
}

.gap-2\.5 {
    gap: calc(var(--spacing)*2.5)
}

.gap-6 {
    gap: calc(var(--spacing) * 6);
}

/*::::::::::::::::::::::::::::::
  AVATAR
::::::::::::::::::::::::::::::
*/

.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-title {
    align-items: center;
    background-color: #405189;
    background-color: var(--vz-primary);
    color: #fff;
    display: flex;
    font-weight: var(--vz-font-weight-medium);
    height: 100%;
    justify-content: center;
    width: 100%;
}


.avatar-xs {
    height: 2rem;
    width: 2rem;
}

/***/
.border-bottom-dashed {
    border-bottom-style: dashed !important;
}